@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Medium.eot');
    src: url('../fonts/Metropolis-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Metropolis-Medium.woff2') format('woff2'),
    url('../fonts/Metropolis-Medium.woff') format('woff'),
    url('../fonts/Metropolis-Medium.ttf') format('truetype'),
    url('../fonts/Metropolis-Medium.svg#Metropolis-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
* {
    padding: 0;
    margin: 0;
    font-size: inherit;
    box-sizing: border-box;
}

header{
    position: relative;
}
body{
    background-color: #bebcbc;
}
h1{
    color: white;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 30px;

}
header h1:after{
    display: block;
    content:"" ;
    max-width: 1170px;
    height: 3px;
    background-color: red;
    margin: auto;
    margin-top: 30px;
}

.contanier-flex{
    display: flex;
    margin: auto;
    flex-direction:row ;
    justify-content: center;
}
.block2{
    display: block;
    width: 980px;
    background-color: #f1f1f1;

}
.block1{
    display: block;
    width: 240px;
    background-color: #010006;

}
nav {
    padding-top: 35px;

}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Metropolis';
    line-height: 35px;

}
li{
    list-style-type: none;
    padding-left: 20px;
}



nav ul li img{
    padding-right: 20px;
}
ul :hover {
    background-color: #ff0000;
}
nav form{
    float: left;
    width: 190px;
    line-height: 42px;
    border-radius: 3px;
    background-color: #ffffff;
    margin-top: 50px;
    margin-left: 20px;

}
nav form input{
    width: 65%;
    background-color: transparent;
    border: none;
    float: right;
    color: #f1f1f1;
    font-size: 15px;
    padding-top: 13px;
    outline: none;
    text-transform: uppercase;
    font-family: 'Metropolis';
}
nav form button{
    float: left;
    width: 26%;
    line-height: 42px;
    text-align: center;
    color: #6e7279;
    border: none;
    background-color: transparent;
    margin: 0;


}
.clearfix{
    clear: both;}
.menu {
    padding-top: 35px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
}
div .menu:after{
    display: block;
    content:"" ;
    max-width: 900px;
    height: 2px;
    background-color: #6e7279;
    margin: auto;
    margin-top: 65px;

}

select{
    min-width: 170px;
    height: 43px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 42px;
    background-color: #a1a1a1;
    text-align: center;
    color: white;
    margin-left: 17px;
    font-family: 'Metropolis';
    font-size: 14px;
    float: right;
    padding-left: 15px;
}
h2{
    text-transform: uppercase;
    color: #010006;
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 300;
    /*padding-left: 45px;*/
    float: left;
}
div .demonstration {
    padding: 0 40px;
    display: inline-block;
}
.view1{
    display: inline-block;
    width:900px;
    position: relative;
}
.view2{
    display: inline-block;
    width: 900px;
    margin-bottom: 95px;

}
img.big{
    margin-bottom: 35px;
}

img.option_1{
    max-width: 430px;
    float: left;

}
img.option_2{
    max-width: 430px;
    float: right;

}

.arrow{
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 40px solid ;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -17px;
    margin-top: -40px;
    cursor: pointer;
   }
.page {
    text-align: center;
   }
.page li{
    display: inline-block;
    padding-left: 30px;
}

.page li a{
    color: #0e0c0c;
    text-decoration: none;
    font-size: 15px;
   }
.page li a:hover{
    color: white;

}


.onoffswitch {
    position: relative; width: 43px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FCF7F7; border-radius: 14px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 10px; padding: 0; line-height: 10px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #EEEEEE; color: #F7EFEF;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 15px; margin: -2.5px;
     position: absolute; top: 0; bottom: 0;
    right: 29px;
    border: 2px solid #FCF7F7; border-radius: 14px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
    background-color: #F22613;
}